@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src: local("../fonts/Open_Sans/Open Sans"),
  local("../fonts/Open_Sans/OpenSans"),
  url("../fonts/Open_Sans/opensans.woff2") format("woff2"),
  url("../fonts/Open_Sans/opensans.woff") format("woff"),
  url("../fonts/Open_Sans/opensans.ttf") format("truetype");
}

@font-face {
  font-weight: 600;
  font-family: "Open Sans";
  font-style: normal;

  src: local("../fonts/Open_Sans/open Sans Semibold"),
  local("../fonts/Open_Sans/openSans-Semibold"),
  url("../fonts/Open_Sans/opensanssemibold.woff2") format("woff2"),
  url("../fonts/Open_Sans/opensanssemibold.woff") format("woff"),
  url("../fonts/Open_Sans/opensanssemibold.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;

  src: local("../fonts/Open_Sans/Open Sans Bold"),
  local("../fonts/Open_Sans/OpenSans-Bold"),
  url("../fonts/Open_Sans/Opensansbold.woff2") format("woff2"),
  url("../fonts/Open_Sans/Opensansbold.woff") format("woff"),
  url("../fonts/Open_Sans/Opensansbold.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Quattrocento Sans";
  font-style: normal;

  src: local("../fonts/Quattrocento_Sans/quattrocento Sans"),
  local("../fonts/Quattrocento_Sans/quattrocentoSans"),
  url("../fonts/Quattrocento_Sans/quattrocentosans.woff2") format("woff2"),
  url("../fonts/Quattrocento_Sans/quattrocentosans.woff") format("woff"),
  url("../fonts/Quattrocento_Sans/quattrocentosans.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Quattrocento Sans";
  font-style: normal;

  src: local("../fonts/Quattrocento_Sans/quattrocento Sans Bold"),
  local("../fonts/Quattrocento_Sans/quattrocentoSans-Bold"),
  url("../fonts/Quattrocento_Sans/quattrocentosansbold.woff2") format("woff2"),
  url("../fonts/Quattrocento_Sans/quattrocentosansbold.woff") format("woff"),
  url("../fonts/Quattrocento_Sans/quattrocentosansbold.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  -moz-box-box-sizing: border-box;
}

.col {
  float: left;
  padding: 0 15px;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.666%;
}

.col-12 {
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
  content: "";

  display: table;
  clear: both;
}

body {
  min-width: 768px;

  font-size: 16px;
  font-family: "Open Sans", "Arial", sans-serif;

  background: #ffffff;
}

.container {
  position: relative;

  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  width: 124px;
  margin-right: 8px;
  padding: 12px 15px;

  font-size: 14px;
  font-family: "Quattrocento Sans", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: break-word;

  border: 2px solid #ffffff;
  border-radius: 4px;
}

.btn:hover {
  background-color: #23b7a4;
  border-color: #23b7a4;
}

.btn.active {
  background-color: #23b7a4;
  border-color: #23b7a4;
}

/*Header BEGIN*/

.main-header {
  position: relative;

  height: 100vh;
}

.header-top {
  position: relative;
  z-index: 1;

  padding: 20px 0;

  background-color: #1d2126;
}

.main-header .container,
.header-top  .container {
  padding: 0 15px;
}

.logo {
  float: left;
  margin-top: 5px;
}

.nav-menu {
  float: right;

  list-style: none;
  font-size: 0;
}

.nav-menu li {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 12px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu a {
  display: block;
  padding: 5px 10px;

  font: 600 14px/16px "Open Sans", "Arial", sans-serif;
  color: #a4aead;
  text-transform: uppercase;
  text-decoration: none;

  border: 2px solid transparent;
  border-radius: 4px;
}

.nav-menu a:hover {
  border-color: #a4aead;
}

.nav-menu a:active {
  color: #23b7a4;

  border-color: #23b7a4;
}

.nav-menu a.active {
  color: #23b7a4;

  border-color: #23b7a4;
}

.header-info {
  position: relative;
  z-index: 1;

  margin-top: calc(40vh - 90px);

  font-family: "Quattrocento Sans", "Arial", sans-serif;
  color: #ffffff;
}

.header-info h1 {
  margin-top: 0;
  margin-bottom: 18px;

  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-info p {
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 26px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #ccd0d7;
}

.main-header .header-slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-slider div {
  position: relative;

  width: 100%;
  height: 100%;

  background-color: #1d2126;
  background-image: url("../images/bg-main.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.header-slider div:nth-child(2n) {
  background-image: url("../images/bg-main1.jpg");
}

.header-slider .slick-dots {
  bottom: 5%;
  z-index: 2;

  padding-right: 10%;

  text-align: right;
}

.header-slider .slick-dots li {
  width: 12px;
  height: 12px;
}

.header-slider .slick-dots li button {
  width: 12px;
  height: 12px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.header-slider .slick-dots li button::before {
  font-size: 0;
}

.header-slider li.slick-active button {
  background-color: #ffffff;
}

/*Header END*/

/*About BEGIN*/

.about {
  padding-bottom: 100px;

  background-color: #ffffff;
  border-bottom: 1px solid #dde1e4;
}

h2.header {
  margin: 60px 15px;
  padding-left: 15px;

  font: 700 36px/36px "Quattrocento Sans", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: -2px;

  border-left: 10px solid #e1e6ea;
}

.about .text {
  margin-top: -5px;
  margin-bottom: 30px;
}

.about .text span {
  font-weight: 700;
  color: #8d8f92;
}

p.text {
  margin: 0;

  line-height: 26px;
  color: #8d8f92;
}

.social-links {
  margin-top: 48px;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 1px;
}

.social-links a {
  display: block;
  width: 60px;
  height: 60px;

  background-color: #c8cdd0;
  background-image: url(../images/social-links-iconsset.png);
  cursor: pointer;
}

.social-links li:nth-child(2) a {
  background-position: 0 -60px;
}

.social-links li:nth-child(3) a {
  background-position: 0 -120px;
}

.social-links li:nth-child(4) a {
  background-position: 0 -180px;
}

.social-links li:nth-child(5) a {
  background-position: 0 -240px;
}

.social-links a:hover {
  background-color: #d0d5d9;
}

.social-links a.active {
  background-color: #d0d5d9;
}

.about-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-list li {
  position: relative;

  margin-bottom: 32px;
}

.about-list span {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 12px 0;

  font: 700 20px/32px "Quattrocento Sans", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;

  background-color: #23b7a4;
}

.about-list .info {
  margin-left: 72px;
}

h3.header {
  margin-top: 0;
  margin-bottom: 6px;

  font: 700 18px/18px "Quattrocento Sans", "Arial", sans-serif;
  color: #292f36;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.about-list .text {
  margin-top: 10px;
}
/*About END*/

/*Team BEGIN*/

.team {
  padding-bottom: 70px;
}

.team-item {
  margin-bottom: 30px;
}

.team-item .info {
  min-height: 100px;
  padding: 18px 20px 12px;

  background-color: #e1e6ea;
}

.team-item-content h3.header {
  margin: 0;

  font-size: 16px;
  letter-spacing: -0.5px;
}

.team-item-content p.text {
  font-size: 14px;
}

.team-item-content {
  position: relative;
}

.team-item-content img {
  display: block;
  width: 100%;
  height: auto;

  background-color: #d4dade;
}

.team-item-content .hidden {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: calc(100% - 100px);

  font-size: 0;
}

.team-item-content .hidden a {
  position: relative;
  top: calc(50% - 26px);
  left: calc(50% - 76px);

  display: none;
  width: 50px;
  height: 50px;
  margin-right: 1px;

  background-color: #3a454d;
  background-image: url("../images/social-links-iconsset-small.png");
}

.team-item-content .hidden a:nth-child(2) {
  background-position: 0 -50px;
}

.team-item-content .hidden a:nth-child(3) {
  margin-right: 0;

  background-position: -1px -98px;
}

.team-item-content .hidden a:hover,
.team-item-content .active a:nth-child(3) {
  background-color: #4e5a62;
}

.team-item-content:hover .hidden,
.team-item-content.active .hidden {
  background-color: rgba(255, 255, 255, 0.4);
}

.team-item-content:hover .hidden a,
.team-item-content.active .hidden a {
  display: inline-block;
}

.team-item-content:hover .info,
.team-item-content.active .info {
  background-color: #3a454d;
}

.team-item-content:hover h3.header,
.team-item-content:hover p.text,
.team-item-content.active h3.header,
.team-item-content.active p.text {
  color: #ffffff;
}

/*Team END*/

/*Work BEGIN*/

.work,
.features {
  padding: 30px 0;

  background-color: #3a454d;
}

.work-wrap h2.header,
.features-wrap h2.header {
  color: #ffffff;

  border-color: #4e5a62;
}

.work-wrap h3.header {
  position: absolute;
  bottom: 0;

  display: none;
  width: 100%;
  min-height: 60px;
  margin: 0;
  padding: 15px 20px;

  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: normal;

  background-color: #292f36;
}

.work-item {
  margin-bottom: 30px;
}

.work-item .work-item-content {
  position: relative;
}

.work-item-content {
  display: block;
}

.work-item img {
  display: block;
  width: 100%;
  height: auto;

  background-color: #4e5a62;
}

.work-item .hidden {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(41, 47, 54, 0.5);
}

.work-item .hidden::after,
.work-item .hidden::before {
  content: "";
  position: absolute;
  top: calc(50% - 40.5px);
  left: calc(50% - 2px);

  display: none;
  clear: both;
  width: 4px;
  height: 20px;

  background-color: #ffffff;
}

.work-item .hidden::after {
  top: calc(50% - 32.5px);
  left: calc(50% - 10px);

  width: 20px;
  height: 4px;
}

.work-item-content:hover .hidden,
.work-item-content:hover h3.header,
.work-item-content .hidden::before,
.work-item-content .hidden::after {
  display: block;
}

.work-item-content.active .hidden,
.work-item-content.active h3.header,
.work-item-content .hidden::before,
.work-item-content .hidden::after {
  display: block;
}

.work-wrap .center {
  margin: 30px;

  text-align: center;
}

.work .btn,
.contact .btn {
  width: 155px;
}
/*Work END*/

/*Services BEGIN*/
.services {
  padding: 20px 0 95px;
}
.services-wrap .row {
  margin-bottom: 60px;
}

.services-wrap .item {
  padding-top: 18px;

  text-align: center;
}

.services-wrap h3.header {
  margin: 25px 0 20px;
}

.setup::before,
.design::before,
.display::before,
.support::before {
  content: "";

  display: block;
  width: 67px;
  height: 67px;
  margin: 0 auto;

  background-image: url("../images/services-iconsset.png");
  background-repeat: no-repeat;
}

.design::before {
  background-position: 0 -67px;
}

.display::before {
  background-position: 0 -134px;
}

.support::before {
  background-position: 0 -201px;
}

/*Services END*/

/*Features BEGIN*/

.features {
  padding-bottom: 80px;
}

.features-wrap .item {
  margin-bottom: 30px;
}

.features-wrap .item img {
  width: 100%;
  height: auto;
}

.features-wrap h3.header {
  margin: 50px 0 20px;

  color: #ffffff;
}

.features-wrap p.text {
  color: #dcdfe1;
}

/*Features END*/

/*Contact BEGIN*/

.contact {
  padding: 5px 0 70px;
}

.map {
  height: 346px;

  background-image: url(../images/map.jpg);
}

.map iframe {
  width: 100%;
  height: 100%;

  border: 0;
}

.contact-wrap .info {
  margin-top: 60px;
}

.contact-wrap h3.header {
  margin-bottom: 30px;

  letter-spacing: normal;
  text-indent: 10px;
}

.contact-wrap .message-form {
  position: absolute;
  top: -130px;
  left: calc(50% + 15px);

  width: calc(50% - 30px);
  height: 400px;
  padding: 22px 15px;

  background-color: #ffffff;
}

.message-item {
  margin-bottom: 25px;
}

.message-item label {
  margin: 10px;

  font: 700 14px/14px "Quattrocento Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.message-item input,
.message-item textarea {
  width: 100%;
  padding: 5px;

  line-height: 30px;

  background-color: #eaeef1;
  border: 2px solid #eaeef1;
  border-radius: 4px;
  outline: none;
}

.message-item:nth-child(3) textarea {
  width: 100%;
  height: 160px;

  resize: none;
}

.message-item input:focus,
.message-item textarea:focus {
  background-color: #ffffff;
}

.message-form .btn {
  margin-right: 0;
  padding: 10px 25px;
}

.contact-wrap p.text {
  margin-bottom: 25px;
}
/*Contact END*/

/*Footer BEGIN*/
.main-footer {
  padding: 35px 0;

  background-color: #3a454d;
}

.main-footer p.text {
  padding-left: 15px;

  font-size: 14px;
  color: #ffffff;
}

.main-footer span {
  font-weight: 700;
}

.main-footer .social-links {
  margin: 0;
}

.main-footer .social-links a {
  width: auto;
  height: auto;
  margin-right: 5px;
  padding: 0 5px;

  font-size: 28px;
  line-height: 26px;
  font-family: "Socialico", sans-serif;
  color: #ffffff;
  text-decoration: none;

  background-color: transparent;
  background-image: none;
}
/*Footer END*/
